<%= provide :title, "About StudyArab.com" %>
<%= render partial: "shared/page_title", locals: { title: "About" } %>

<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
<%= current_user.class.name %>

<p>
StudyArabic.com is a free, community driven and supported portal that offers students and teachers
a place to share and exchange information, advice, and resources related to learning
the Arabic language.
</p>

<p>
Arabic is an international language and one of the most spoken in the world. In addition to
being increasingly important due to geopolitical reasons, it is the liturgical language of
over one billion Muslims and it has an extremely rich literary tradition. Despite all of this, 
students in the West do not have as much of an opportunity to learn Arabic as they do other 
more established but perhaps less widespread and culturally influential languages. This
site is, in a way, a small effort to help remedy this problem.
</p>

<br />

<p>
<div class="subtitle_large margin_bottom">Studying Arabic Abroad</div>
This site was started as a way to address a problem faced by many American college students trying
to choose a place to study Arabic abroad in the summer. There are plenty of Arabic centers with websites
claiming to offer top notch classes with the best instructors but it's difficult to verify with certainty how accurate their claims actually are. 
Thus, the idea of a comprehensive directory of <%= link_to("Arabic centers", centers_path, class: "bold") %> with accurate and up to date 
information and reviews was conceived.
</p>

<p>
In addition to our list of centers and programs, you can also explore our <%= link_to("study abroad forums", category_forum_posts_path(Category.find_by_name("Study Abroad")), class: "bold") %> to
find relevant and up to date information on finding housing, connecting with roommates, and traveling
in the Middle East.
</p>

<br />

<p>
<div class="subtitle_large margin_bottom">Finding Teachers Online</div>
There are a plethora of websites out there
charging a premium price to find an Arabic tutor or teacher for you. 
However, most of these sites are serving as unnecessary middle men between you and your potential teacher pocketing
most of the money you pay for themselves. Why shouldn't you be able to deal with your online
teacher directly instead of having to go through third party websites? With our database of <%= link_to("Arabic teachers", teacher_profiles_path, class: "bold") %>,
we are attempting to help you do just that. We wanted to make the process of finding an online teacher
as transparent as possible and what you have with our system is a reliable list of experienced teachers
from all over the world that you can contact directly with no strings attached.
</p>

<br />

<p>
<div class="subtitle_large margin_bottom">Sharing Information</div>
Mastering a language is not really something you can fully do on your own. Thus, one of the primary
objectives of StudyArabic.com is to provide a place for students to share tips and resources
related to learning Arabic. Whether you're trying to find a roommate for your summer abroad program in Egypt
or you're looking for advice on how to read newspapers, chances are there is another student
out there that is or has been in your shoes. Our <%= link_to("forums", forum_posts_path, class: "bold") %> offer students the ability to exchange information
about anything related to studying Arabic.
</p>

<br />


<p>
<div class="subtitle_large margin_bottom">How You Can Help</div>
As a community driven site, the success of StudyArabic.com hinges upon your participation and support.
Thus, the best way to help the site is by asking and answering questions and sharing your experiences and advice.
In addition, we know there is always room for improvement are constantly trying to add features and make 
your experience better. If you have any suggestions or ideas, please <%= link_to("contact us", contact_path, class: "bold") %> and we'll be sure to respond promptly.
</p>

<br />

<span class="bold">Thank you for supporting StudyArabic.com!</span>

<br />
