    <div id="gameContainer"> 

      <div id="levelColumn">

        <button id="stopAnimation">Stop Animation</button>
        <div id="gameInfo">
          Score: <span id="score">0</span>
        </div>
        
        <div class="info">

          <div id="level">Level 1</div>

          <div class="options">
            <div id="practice1">Practice</div>
            <div id="test1">Test</div>
          </div>

          <button id="startButton">Start</button>
          <button id="stopButton">Pause</button>

        </div>

      </div>

			<canvas id="gameCanvas" dir="rtl" width="900" height="400">
				<!-- Insert fallback content here -->
			</canvas>

      <table class="table table-bordered" id="level-table">
          <tr>
            <% 1.upto(8) do |n| %> 
              <td class="levelBox" id="<%= "levelBox_#{n}" %>">
                <div class="site_title margin_bottom_small"><%= TypingGameHelper::LETTER_GROUPS[n - 1] %></div>
                <span class="bold">Level <%= n %></span>
              </td>
            <% end %>
          </tr>
          <tr>
            <% 9.upto(16) do |n| %> 
              <td class="levelBox" id="<%= "levelBox_#{n}" %>">
                <div class="site_title margin_bottom_small"><%= TypingGameHelper::LETTER_GROUPS[n - 1] %></div>
                <span class="bold">Level <%= n %></span>
              </td>
            <% end %>
          </tr>
      </table>

		</div>
