    <div id="gameContainer"> 

      <div id="game-header">
        <table class="subtitle_large" id="menu-table">
          <th>
            <td>Score: <span id="score">0</span></td>
            <td>Lines Remaining: <span id="lines-remaining">0</span></td>
            <td>Difficulty Level: 
                 <div class="btn-group">
                  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    Beginner 
                    <span class="caret"></span>
                  </a>
                    
                  <ul class="dropdown-menu">
                    <li><a href="#">Intermediate</a></li>
                    <li><a href="#">Advanced</a></li>
                  </ul>
                  </div> 
              
            </td>

            <td>
              <button class="btn_custom" type="button" id="startButton">Unpause</button>
              <button class="btn_custom" type="button" id="stopButton">Pause</button>
            </td>
          </th>
        </table>
      </div>
      
      <div id="canvas-container"> 
        <canvas id="gameCanvas" dir="rtl" width="939" height="400">
          <!-- Insert fallback content here -->
        </canvas>

        <div class="site_title" id="game-start">
          <div id="start-numbers-container">
            <div id="start-3">3</div>
            <div id="start-2">2</div>
            <div id="start-1">1</div>
            <div id="start-go">GO!</div>
          </div>
        </div>

      </div>

      <div id="levels-div">
        <table class="table table-bordered" id="level-table">
            <tr>
              <% 1.upto(8) do |n| %> 
                <td class="levelBox" id="<%= "levelBox_#{n}" %>">
                  <div class="site_title margin_bottom_small"><%= TypingGameHelper::LETTER_GROUPS[n - 1] %></div>
                  <span class="bold">Level <%= n %></span>
                </td>
              <% end %>
            </tr>
            <tr>
              <% 9.upto(16) do |n| %> 
                <td class="levelBox" id="<%= "levelBox_#{n}" %>">
                  <div class="site_title margin_bottom_small"><%= TypingGameHelper::LETTER_GROUPS[n - 1] %></div>
                  <span class="bold">Level <%= n %></span>
                </td>
              <% end %>
            </tr>
        </table>
      </div>

		</div>
