<%= provide :title, "StudyArabic.com" %>
<%= provide :meta_tags do %>
  <meta name="keywords" content="study arabic, learn arabic, islamic texts, arabic grammar, arabic morphology, arabic grammar, study arabic abroad" />
  <meta name="description" content="Information about studying Arabic abroad, Arabic centers and programs, online Arabic teachers, free questions and answers, resources for grammar, vocabulary, Quran, Islamic texts" />
<% end %>
<!--featured article-->
<div class="row">
  <div class="span9">
    <div class="subtitle_largest margin_bottom_small"><%= link_to(@presenter.feature_article.title, @presenter.feature_article) %></div>
    <div><%= render partial: "articles/author_line", locals: { item: @presenter.feature_article } %></div>
  </div>
</div>

<div class="row">
  <div class="span9">
    <%= image_tag(@presenter.feature_article.try(:thumbnail_url), class: "floatLeft") %>
    <%= truncate_text(strip_tags(@presenter.feature_article.content), 1100, @presenter.feature_article) %>
  </div>
  <div class="span9 border_div_with_margin"></div>
</div>

<!-- for the second and third articles, just the frame of the image smaller -->
<div class="row">
  <div class="article_span">
      <div class="subtitle_large"><%= link_to(@presenter.articles.first.title, @presenter.articles.first) %></div>
      <div><%= render partial: "articles/author_line", locals: { item: @presenter.articles.first } %></div>
      <%= image_tag(@presenter.articles.first.try(:thumbnail_url), class: "floatLeft small_thumb") %>
      <%= truncate_text(strip_tags(@presenter.articles.first.content), 430, @presenter.articles.first) %>
  </div>
  <div class="article_span_no_border">
      <div class="subtitle_large"><%= link_to(@presenter.articles.last.title, @presenter.articles.last) %></div>
      <div><%= render partial: "articles/author_line", locals: { item: @presenter.articles.last } %></div>
      <%= image_tag(@presenter.articles.last.try(:thumbnail_url), class: "floatLeft small_thumb") %>
      <%= truncate_text(strip_tags(@presenter.articles.last.try(:content)), 430, @presenter.articles.last) %>
  </div>
  <div class="span9 border_div_with_margin"></div>
</div>

<div class="subtitle_large_color margin_bottom">Have a Question? Browse Our Forums</div>
<%= render "categories/categories_page" %>

<% content_for :side_bar do %>

  <% @list = capture do %>
    <% @presenter.questions.each do |question| %>
      <li><span class="normal"><%= link_to(question.title, question) %></span></li>
    <% end %>
  <% end %>
  <%= render partial: "side_bar_section", locals: { title: "Popular Questions" } %>

  <% @list = capture do %>
    <% @presenter.forums.each do |forum| %>
      <li><span class="normal"><%= link_to(forum.name, category_forum_posts_path(forum)) %></span></li>
    <% end %>
  <% end %>
  <%= render partial: "side_bar_section", locals: { title: "Popular Forums" } %>

  <% @list = capture do %>
    <% @presenter.centers.each do |center| %>
      <li><span class="normal"><%= link_to(center.name, center) %></span></li>
    <% end %>
  <% end %>
  <% @extra_line = capture { "Explore #{ link_to("Arabic Centers", centers_path) } throughout the Middle East".html_safe } %>
  <%= render partial: "side_bar_section", locals: { title: "Study Abroad" } %>
<% end %>
