<%= provide :title, "StudyArabic.com" %>

<!--featured article-->
<div class="row">
  <div class="span9">
    <div class="subtitle_largest"><%= link_to(@feature_article.title, @feature_article) %></div>
    <%= render partial: "articles/author_line", locals: { item: @feature_article } %>
  </div>
</div>

<div class="row">
  <div class="span9">
    <%= image_tag(@feature_article.images.first.photo(:medium), class: "floatLeft") %>
    <%= truncate_text(simple_format(@feature_article.content), 675, @feature_article) %>
  </div>
  <div class="span9 bottom_border_div"></div>
</div>

<div class="row">
  <div class="article_span">
      <div class="subtitle_large"><%= link_to(@articles.first.title, @articles.first) %></div>
      <div><%= render partial: "articles/author_line", locals: { item: @articles.first } %></div>
      <%= image_tag(@articles.first.images.first.photo(:thumb), class: "floatLeft" ) %>
      <%= truncate_text(simple_format(@articles.first.content), 350, @articles.first) %>
  </div>
  <div class="article_span_no_border">
      <div class="subtitle_large"><%= link_to(@articles.last.title, @articles.last) %></div>
      <div><%= render partial: "articles/author_line", locals: { item: @articles.last } %></div>
      <%= image_tag(@articles.last.images.first.photo(:thumb), class: "floatLeft" ) %>
      <%= truncate_text(simple_format(@articles.last.content), 350, @articles.last) %>
  </div>
  <div class="span9 bottom_border_div"></div>
</div>

<div class="subtitle_large_color margin_bottom">Have a Question? Browse Our Forums</div>
<%= render "categories/categories_page" %>

<% content_for :side_bar do %>

  <% @list = capture do %>
    <% @questions.each do |question| %>
      <li><span class="normal"><%= link_to(question.title, question) %></span></li>
    <% end %>
  <% end %>
  <%= render partial: "side_bar_section", locals: { title: "Popular Questions" } %>

  <% @list = capture do %>
    <% @forums.each do |forum| %>
      <li><span class="normal"><%= link_to(forum.name, category_forum_posts_path(forum)) %></span></li>
    <% end %>
  <% end %>
  <%= render partial: "side_bar_section", locals: { title: "Popular Forums" } %>
<% end %>
