<%= provide :title, @message.subject %>

<div class="subtitle_large_color margin_bottom"><%= @message.subject %></div>

<table class="margin_bottom">
  <%= render partial: "shared/table_row", locals: { key: "From:", value: link_to(@message.sender.first_name, @message.sender) } %>
  <%= render partial: "shared/table_row", locals: { key: "Date:", value: date_and_time(@message.created_at) } %>
</table>
<div class="custom_well">
  <%= @message.content %>

  <% if @message.direct_parent %>
    <br /><br />
    ----------Original Message----------
    <br />
    From: <%= @message.direct_parent.sender.first_name %><br />
    To: <%= @message.direct_parent.recipient.first_name %><br /> 
    Date: <%= date_and_time(@message.direct_parent.created_at) %><br />
    Subject: <%= @message.direct_parent.subject %><br /><br />
    
    <%= simple_format(@message.direct_parent.content) %>
    
  <% end %>


</div>

<% if @message.recipient == current_user %>
  <%= button_to("Reply", new_reply_message_path(@message), method: "get", class: "btn") %>  
<% end %>
  <%= button_to("Delete", message_path(@message), method: "delete", data: {confirm: "Are you sure?"}, class: "btn") %>  

