<%= provide :title, @message.subject %>

<div class="subtitle_large_color margin_bottom"><%= @message.subject %></div>

<table class="margin_bottom">
  <%= render partial: "shared/table_row", locals: { key: "From:", value: link_to(@message.sender.first_name, @message.sender) } %>
  <%= render partial: "shared/table_row", locals: { key: "Date:", value: date_and_time(@message.created_at) } %>
</table>
<div class="custom_well">
  <%= @message.content %>
</div>

<%= button_to("Reply", new_reply_message_path(@message), method: "get", class: "btn") %>  
<%= button_to("Delete", message_path(@message), method: "delete", data: {confirm: "Are you sure?"}, class: "btn") %>  

