<!--because the first comment on an article needs the extra padding but the padding is not required after that-->
<% comment.commentable.is_a?(Article) ? div_class = "custom_well" : div_class = "comment_well" %>

<div class="<%= div_class %>">
  <div class="margin_bottom_small">
    <%= render partial: "users/user_line", locals: { user: comment.user, action: "Posted by" } %>  
    <%= render partial: "shared/date_line", locals: { item: comment } %>
    <%= render partial: "shared/delete_edit_nested", locals: { item: comment, parent: comment.commentable } %>
  </div> 
  <div class="margin_bottom_small"><%= modified_sf(comment.content) %></div>

  <%= link_to("Reply", "#", class: "reply bold", :data => { :parent_id => comment.id, :parent_type => comment.class.name, signed_in: user_signed_in? }) %> 

  <div class="bottom_border_div"></div>

  <div class='new_comment_div nested_comment' id='<%= "new_#{comment.class.name}_comment_div_#{comment.id}" %>'>
    <%= form_for([comment, comment.comments.new]) do |f| %>
      <%= f.text_area :content, { class: "comment_text_box", id: "comment_text_box_#{comment.id}" } %><br />
      <%= f.submit "Submit", class: "btn_custom" %>
    <% end %> 
  </div>

  <% if comment.comments.any? %>
    <div class="nested_comment"><%= render partial: "comments/comment", collection: comment.comments.saved_records %></div>
  <% end %>
</div>

