<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div class="error_alert">
      Your submission could not be accepted. Please correct the following errors:
      <div class="bold">
        <% @article.errors.full_messages.each do |msg| %>
          <i class="icon-warning-sign"></i> <%= msg %><br />
        <% end %>
      </div>
    </div>
  <% end %>

    <div class="field">
      <%= f.label :title  %><%= mark_required(@article, :title) %><br />
      <%= f.text_field :title %>
    </div>

    <div class="field margin_bottom_medium">
      <%= f.label :category_ids %><%= mark_required(@article, :category_ids) %><br />
      <select id="article_category_ids" name="article[category_ids][]" data-placeholder="Categories"
              class="chzn-select" multiple tabindex="6"  multiple="multiple">
        <option value=""></option>
        <%= render :partial => 'forum_posts/chosen_categories', locals: {:category_name => "Arabic Language", :label => "Arabic Language" } %>
        <%= render :partial => 'forum_posts/chosen_categories', locals: {:category_name => "Study Abroad" , :label => "Study Abroad (general)" } %>
        <%= render :partial => 'forum_posts/chosen_categories', locals: {:category_name => "Countries" , :label => "Study Abroad (country specific)" } %>
      </select>
    </div>

    <div class="field">
      <%= f.label :content %><%= mark_required(@article, :content) %><br />
      <%= f.text_area :content, :class => "redactor" %>

      <%#= f.cktext_area :content %>
    </div>

    <%= f.fields_for :photos, :html => { :multipart => true } do |image_form| %>
      <div><%= image_form.file_field :photo_file %></div>
    <% end %>

    <br />

    
    <div class="actions">
      <%= f.submit("Submit", class: "btn_custom") %>
    </div>
<% end %>
