<%= provide :title, @article.title %>

<% if @comment_submitted.try(:errors).try(:any?) %>
    <div class="error_alert">
      Your submission could not be accepted. Please correct the following errors:
      <div class="bold">
        <% @comment_submitted.errors.full_messages.each do |msg| %>
          <i class="icon-warning-sign"></i> <%= msg %><br />
        <% end %>
      </div>
    </div>
<% end %>


<div class="row">
  <%= render partial: "shared/vote_arrows", locals: { item: @article } %>

  <div class="span8_custom">
    <%= render partial: "shared/voteable_item_title", locals: { item: @article }  %>
    <div class="post margin_bottom">
      <%=  @article.content %>
    </div>

    <div class="subtitle_large margin_bottom">Post a Comment</div>
    <% if user_signed_in? %>
      <%= render "comments/form" %>  
    <% else %>
      <%= render "shared/reg_or_sign_in" %> 
    <% end %>

    <div class="subtitle_large margin_bottom"><%= pluralize(@article.comments.count, "comment") %></div>

    <% @article.comments.each do |c| %>
      <div class="custom_well">
        <%= render "shared/nested_item_view", locals: { item: c, parent: @article } %>
      </div>
    <% end %>

  </div>
</div>

<br />

<!--comments-->
