<%= provide :title, @article.title %>

<% if @comment_new.try(:errors).try(:any?) %>
    <div class="error_alert">
      Your submission could not be accepted. Please correct the following errors:
      <div class="bold">
        <% @comment_new.errors.full_messages.each do |msg| %>
          <i class="icon-warning-sign"></i> <%= msg %><br />
        <% end %>
      </div>
    </div>
<% end %>


<div class="row">
  <%= render partial: "shared/vote_arrows", locals: { item: @article } %>

  <div class="span8_custom">
    <%= render partial: "shared/voteable_item_title", locals: { item: @article, vote_span_class: "vote_count", action: "Posted by" }  %>
    <%= render partial: "shared/delete_edit_links", locals: { item: @article } %>
    <div class="post margin_bottom">
      <% @article.photos.each do |image| %>
        <%= image_tag(image.photo_file_url, class: "floatLeft") %>
      <% end %>
      <%=  modified_sf(@article.content) %>
    </div>

    <div class="subtitle_large margin_bottom_small">Post a Comment</div>
    <% if user_signed_in? %>
      <%= render partial: "comments/form" %>  
    <% else %>
      <%= render partial: "shared/reg_or_sign_in" %> 
    <% end %>

    <div class="subtitle_large margin_bottom"><%= pluralize(@article.comments.count, "comment") %></div>

    <%= render partial: "comments/comment", collection: @article.comments.saved_records.most_recent %>

  </div>
</div>

<br />

<!--comments-->
