<div class="row">
  <div class="span3 photo">
    <%= handle_image(user.image.try(:photo).try(:url, :medium)) %> 
  </div>
  <div class="span6">
      <div class="name_and_badge">
        <div>
          <span class="subtitle_large_color"><%= full_name(user) %></span>
          <% if params[:action] == "show" %>
            <span class="red_badge left_margin_small right_margin_small"><%= user_type(user) %></span>

            <span><%= render partial: "shared/star_rating", locals: { item: user.profile } %></span>
          <% end %>
        </div>

      </div>
      <% if authorized?(user) %>
        <div class="small_column"><div class="profile_links"><%= link_to "Edit Profile", controller: user_type_controller(user), 
          action: "edit", id: user.try(:profile).try(:id) %></div>
        </div>
      <% end %>                                                    
  </div>
  <div class="span6">

    <% if user_type(user) == "Teacher" %>
      <div class="specialties"><%= user.profile.try(:specialties)  %></div>
    <% end %>
    <p><%= user.bio %></p>
  </div>
</div>
