<div>


    <div class="row">
      <div class="span7">
        <% if user_type(user) == "Teacher" %>
          <%= render partial: "teacher_profiles/profile_info", locals: { teacher: user.profile, title_class: "site_title middle" } %>
        <% else %>
          <!-- student rendition here --> 
        <% end %>
      </div><!--span7-->
      <div class="span2">
        <% if authorized?(user) %>
          <div class="align_right"><div class="profile_links"><%= link_to "Edit Profile", controller: user_type_controller(user), 
            action: "edit", id: user.try(:profile).try(:id) %></div>
          </div>
        <% end %>                                                    
      </div><!--span2-->
    </div><!--row-->

    <div class="row">
      <div class="span9">
        <%= link_to('<i class="icon-envelope icon-large"></i><strong>'.html_safe, new_user_message_path(user), class: "no_underline") %> <%= link_to("Send Message", new_user_message_path(user)) %></strong>
      </div>
    </div>

    <div class="row">
      <div class="span9 bottom_border_div"></div>
    </div>
    
    <div class="row">
      <div class="span9">
        <span class="caps bold">About <%= user.first_name %></span>
        <div><%= user.bio %></div> 
      
      
      </div>
    </div>




</div>



