<div class="row">
  <div class="span3 photo">
    <%= handle_image(user.image.try(:photo).try(:url, :medium)) %> 
  </div>
  <div class="span6">
    <div class="row">
      <div class="span4">
        <div>
          <span class="subtitle_large1"><%= full_name(user) %></span>
          <% if params[:action] == "show" %>
            <span class="label user_label"><%= user_type(user) %></span>
          <% end %>
        </div>

      </div>
      <% if authorized?(user) %>
        <div class="span2"><p class="profile_links"><%= link_to "Edit Profile", controller: user_type_controller(user), 
                                                      action: "edit", id: user.profile %></p></div>
      <% end %>                                                    
    </div>
    <% if user_type(user) == "Teacher" %>
      <p class="specialties"><%= user.profile.try(:specialties)  %></p>
      <p><%= render partial: "shared/star_rating", locals: { item: user.profile } %></p>
    <% end %>
    <p><%= user.bio %></p>
  </div>
</div>
