<% provide :title, full_name(@user) %>
<%= render partial: "basic_user_info", locals: { user: @user } %>
<br />

<% if user_type(@user) == "Teacher" %>

  <%= render partial: "shared/two_columns", locals: { key: "Online Teaching", value: bool_display(@user.profile.online) } %>
  <%= render partial: "shared/two_columns", locals: { key: "In Person Teaching", value: bool_display(bool_display(@user.profile.in_person)) } %>
  <%= render partial: "shared/two_columns", locals: { key: "Price Per Hour", value: number_to_currency(@user.profile.price_per_hour) } %>
  <%= render partial: "shared/two_columns", locals: { key: "Education", value: nil } %>
  <%= render partial: "shared/two_columns_indented", locals: { key: "Field of Study", value: @user.profile.field_of_study } %>
  <%= render partial: "shared/two_columns_indented", locals: { key: "University", value: @user.profile.university } %>

  <%= render partial: "shared/two_columns", locals: { key: "Email", value: @user.email } %>
  <%= render partial: "shared/two_columns", locals: { key: "Skype ID", value: @user.skype_id } %>
<% end %>

<% if user_type(@user) == "Student" %>
  <%= render partial: "shared/two_columns", locals: { key: "Level", value: @user.profile.try(:level).title } %>
<% end %>

<br />
<% if user_type(@user) == "Teacher" %>
  <div>
    <span class="large_font_size">Have you had classes with this teacher?</span>
    <%= button_to("Write a Review", new_teacher_profile_review_path(@user.profile), method: :get, class: "btn btn-primary") %>
  </div>
  <div>
    <h4>Reviews</h4>
    <%= render partial: "reviews/reviews_display", locals: { item: @user.profile } %>
  </div>
<% end %>
<% content_for :side_bar do %>
  <h4><%= "#{user_type(@user)} Statistics" %></h4>
  <table>
    <tr>
      <td><span class="subtitle_large padded_cell">Repuation Score</span></td>
      <td><span class="stats"><%= "475" %></span></td>      
    </tr>   
    <tr>
      <td><span class="subtitle_large padded_cell">Questions Answered</span></td>
      <td><span class="stats"><%= @user.answers.count %></span></td>      
    </tr>
    <tr>
      <td><span class="subtitle_large padded_cell">Resources Posted</span></td>
      <td><span class="stats"><%= @user.resources.count %></span></td>      
    </tr>
  </table>
<% end %>


<!--comments-->













