<% provide :title, full_name(@user) %>
<%= render partial: "basic_user_info", locals: { user: @user } %>
<br />

<% if user_type(@user) == "Teacher" %>

  <%= render partial: "shared/two_columns", locals: { key: "Online Teaching", value: bool_display(@user.profile.online) } %>
  <%= render partial: "shared/two_columns", locals: { key: "In Person Teaching", value: (bool_display(@user.profile.in_person)) } %>
  <%= render partial: "shared/two_columns", locals: { key: "Price Per Hour", value: number_to_currency(@user.profile.price_per_hour) } %>
  <%= render partial: "shared/two_columns", locals: { key: "Education", value: nil } %>
  <%= render partial: "shared/two_columns_indented", locals: { key: "Field of Study", value: @user.profile.field_of_study } %>
  <%= render partial: "shared/two_columns_indented", locals: { key: "University", value: @user.profile.university } %>

  <%= render partial: "shared/two_columns", locals: { key: "Email", value: mail_to(@user.email) } %>
  <%= render partial: "shared/two_columns", locals: { key: "Skype ID", value: @user.skype_id } %>
<% end %>

<% if user_type(@user) == "Student" %>
  <%= render partial: "shared/two_columns", locals: { key: "Level", value: @user.profile.try(:level).try(:title) } %>
<% end %>

<br />
<% if user_type(@user) == "Teacher" %>
  <div>
    <span class="subtitle_large middle">Have you had classes with this teacher?</span>
    <%= button_to("Write a Review", new_teacher_profile_review_path(@user.profile), method: :get, class: "btn_custom left_margin") %>
  </div>
  <div>
    <div class="subtitle_large margin_bottom">Reviews</div>
    <%= render partial: "reviews/reviews_display", locals: { item: @user.profile } %>
  </div>
<% end %>
<% content_for :side_bar do %>
  <div class="subtitle_large margin_bottom"><%= "#{user_type(@user)} Statistics" %></div>
  <table>
    <%= render partial: "shared/table_row", locals: { key: "Reputation Score", value: @user.reputation } %>
    <%= render partial: "shared/table_row", locals: { key: "Questions Answered", value: @user.answers.count } %>
    <%= render partial: "shared/table_row", locals: { key: "Resources Posted", value: @user.resources.count } %>
  </table>
<% end %>


<!--comments-->













