<% provide :title, full_name(@user) %>
<%= render partial: "basic_user_info", locals: { user: @user } %>
<br />

<% if user_type(@user) == "Teacher" %>

  <div class="margin_bottom">
    <%= render partial: "shared/two_columns", locals: { key: "Instruction Type", value: nil } %>
    <%= render partial: "shared/two_columns_indented", locals: { key: "Online Teaching", value: bool_display(@user.profile.online) } %>
    <%= render partial: "shared/two_columns_indented", locals: { key: "In Person Teaching", value: (bool_display(@user.profile.in_person)) } %>
  </div>

  <div class="margin_bottom">
    <%= render partial: "shared/two_columns", locals: { key: "Price Per Hour", value: number_to_currency(@user.profile.price_per_hour) } %>
  </div>

  <div class="margin_bottom">
    <%= render partial: "shared/two_columns", locals: { key: "Education", value: nil } %>
    <%= render partial: "shared/two_columns_indented", locals: { key: "Field of Study", value: (@user.profile.field_of_study) } %>
    <%= render partial: "shared/two_columns_indented", locals: { key: "University", value: @user.profile.university } %>
    <%= render partial: "shared/two_columns_indented", locals: { key: "Highest Degree", value: @user.profile.degree.name } %>
    <%= render partial: "shared/two_columns_indented", locals: { key: "Other Education/Training", value: modified_sf(@user.profile.other_education) } %>
  </div>

  <div class="margin_bottom">
    <%= render partial: "shared/two_columns", locals: { key: "Experience", value: nil } %>
    <%= render partial: "shared/two_columns_indented", locals: { key: "Years of Experience", value: @user.profile.years_of_experience } %>
    <%= render partial: "shared/two_columns_indented", locals: { key: "Employment History", value: modified_sf(@user.profile.employment_history) } %>
  </div>

  <div class="margin_bottom">
    <%= render partial: "shared/two_columns", locals: { key: "Languages", value: @user.profile.languages.pluck(:name).join(", ") } %>
  </div>

  <div class="margin_bottom">
    <%= render partial: "shared/two_columns", locals: { key: "Contact Information", value: nil } %>

    <% if user_signed_in? %>
      <%= render partial: "shared/two_columns_indented", locals: { key: "Email", value: @user.email } %>
      <%= render partial: "shared/two_columns_indented", locals: { key: "Skype ID", value: @user.profile.skype_id } %>
    <% else %>
      <div class="custom_well">In order to view this teacher's contact information, you must <%= link_to("Sign in", new_user_session_path) %>
      or <%= link_to("Register", new_student_profile_path) %>. We do this because we want to protect our teachers
      from unwanted spam.</div>
    <% end %>
  </div>
  <!--not sure about including contact information yet, perhaps but require log in to see it-->
  <%#= render partial: "shared/two_columns", locals: { key: "Skype ID", value: @user.skype_id } %>
<% end %>

<br />
<% if user_type(@user) == "Teacher" %>
  <% unless user_signed_in? && current_user.profile == @user.profile %>
    <div>
      <%= button_to("Review This Teacher", new_teacher_profile_review_path(@user.profile), method: :get, class: "btn_custom") %>
    </div>
  <% end %>
  <div>
    <%= render partial: "reviews/reviews_display", locals: { item: @user.profile } %>
  </div>
<% end %>
<% content_for :side_bar do %>
  <div class="subtitle_large margin_bottom"><%= "#{user_type(@user)} Statistics" %></div>
  <table>
    <%= render partial: "shared/table_row", locals: { key: "Reputation Score", value: @user.reputation } %>
    <%= render partial: "shared/table_row", locals: { key: "Questions Answered", value: @user.answers.count } %>
    <%= render partial: "shared/table_row", locals: { key: "Resources Posted", value: @user.resources.count } %>
  </table>
<% end %>


<!--comments-->













