<%= provide :title, "Arabic Centers and Programs" %>
<%= render partial: "shared/page_title", locals: { title: "Centers and Programs" } %>

<%= render partial: "shared/search_and_new", locals: { item_type: "Centers", new_button_text: "Add a Center/Program" }  %>

<ul class="nav nav-pills custom">
  <li class="active center_options ratings_option" id="order_by_average_rating">
    <a href="#">Highest Rated</a>
  </li>
  <li class="center_options ratings_option not_active" id="order_by_reviews"><a href="#">Most Reviews</a></li>
</ul>

<div id="ajax_spinner_div"><%= image_tag("/images/ajax-loader.gif") %></div>

<div id="centers_list">
  <div id="centers_div">
      <%= anticipate_no_records(@centers, "centers or programs", centers_path) %>
          <ul class="nav nav-tabs">
            <li class="active">
              <a href="#">List View</a>
            </li>
            <li>
              <a href="#">Map View</a>
            </li>
          </ul>
      <% @centers.each_with_index do |center, i| %>
        <%= render partial: "shared/index_with_image", 
                  locals: { image: center.images.first.try(:photo).try(:url, :thumb), 
                            name: center.name, 
                            item: center,
                            description: center.description,
                            item_with_reviews: center,
                            row_class: get_alternating_class(i)} %>
      <% end %>

      <%= render partial: "shared/pagination_links", locals: { items: @centers } %>
  </div>
</div>


<% content_for(:side_bar) do %>
  <%= render partial: "shared/country_filter", locals: { li_class: "center_options" } %>
<% end %>
