<%= provide :title, @center.name %>

<!-- load the google maps api here so that it doens't load it for every page -->
<% content_for(:page_specific_js) do %>
  <%= render partial: "map", locals: { centers: @centers } %> 
<% end %>

    <div class="margin_bottom_small">
      <span class="site_title middle"><%= link_to(@center.name, @center) %></span>
      <%= average_stars(@center) %>
      <span class="subtitle_large_gray">(<%= review_count(@center) %>)</span><br />
    </div>
    <span class="bold"><%= center_location(@center) %></span>
    <% if authorized?(@center.user) %>
      <br /><span class="info"><%= link_to("Edit Center/Program Info", edit_center_path(@center)) %></span>
    <% end %>

    <div class="row">
      <div class="span9 bottom_border_div"></div>
    </div>

<div class="row">
  <div class="span9">

  <% if @center.images.any? %>
    <div id="myCarousel" class="carousel slide">
      <ol class="carousel-indicators">
        <% (0...(@center.images.size)).each do |n| %>
          <% n == 0 ? pip_class = "active" : pip_class = "" %>
          <li data-target="#myCarousel" data-slide-to="<%= n %>" class="<%= pip_class %>"></li>
        <% end %>
      </ol>
      <!-- Carousel items -->
      <div class="carousel-inner">
        <% @center.images.each_with_index do |image, i| %>
          <% i == 0 ? img_class = "active item" : img_class = "item" %>
          <div class="<%= img_class %>">
            <a href="<%= image.photo.url %>"><%= image_tag(image.photo.url(:medium)) %></a>
          </div>
        <% end %>
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
      <div class="centered"><%= link_to("Add a photo", new_center_image_path(@center)) %></div>
    </div><!--myCarousel div-->
  <% end %>

    <div class="margin_bottom">
      <span class="bold caps">About</span>
      <div><%= modified_sf(@center.description) %></div> 
      
      <% if @center.images.empty? %>
        <br />
        <span class="gray_badge middle">Note</span> 
        <span class="middle">There are no photos of this center.
          Help your fellow Arabic students by <%= link_to("adding one.", new_center_image_path(@center)) %>
        </span>
      <% end %>

    </div>

  </div><!--span9-->    
</div><!--row-->

<div class="row">
  <div class="span6"> 
    <div class="margin_bottom">
      <%= render partial: "shared/two_columns", locals: { key: "Contact Information", value: nil } %>
      <%= render partial: "shared/two_columns_indented", locals: { key: "Email", value: mail_to(@center.email) } %>
      <%= render partial: "shared/two_columns_indented", locals: { key: "Phone Number", value: @center.phone_number } %>
      <%= render partial: "shared/two_columns_indented", locals: { key: "Website", value: link_to(@center.website, @center.website) } %>
      <%= render partial: "shared/two_columns_indented", locals: { key: "Address", value: "#{@center.address.try(:address_line)}<br />#{center_location(@center)}".html_safe} %>
    </div>

    <div class="margin_bottom">
      <%= render partial: "shared/two_columns", locals: { key: "Prices", value: nil } %>
      <%= render partial: "shared/two_columns_indented", locals: { key: "Price Per Hour (Private)", value: number_to_currency(@center.price_per_hour_private) } %>
      <%= render partial: "shared/two_columns_indented", locals: { key: "Price Per Hour (Group)", value: number_to_currency(@center.price_per_hour_group) } %>
      <%= render partial: "shared/two_columns_indented", locals: { key: "Total Price (If only one program)", value: number_to_currency(@center.total_price) } %>
    </div>

    <div class="margin_bottom">
      <%= render partial: "shared/two_columns", locals: { key: "General Information", value: nil } %>
      <%= render partial: "shared/two_columns_indented", locals: { key: "Year Established", value: @center.year_established } %> 
      <%= render partial: "shared/two_columns_indented", locals: { key: "Short Term Program(s)", value: bool_display(@center.short_term) } %> 
      <%= render partial: "shared/two_columns_indented", locals: { key: "Long Term Program(s)", value: bool_display(@center.long_term) } %> 
      <%= render partial: "shared/two_columns_indented", locals: { key: "Group Instruction", value: bool_display(@center.group_instruction) } %> 
      <%= render partial: "shared/two_columns_indented", locals: { key: "Private Instruction", value: bool_display(@center.private_instruction) } %> 
      <%= render partial: "shared/two_columns_indented", locals: { key: "Housing Provided", value: bool_display(@center.housing_provided) } %>
    </div>
  </div>

  <div class="span3">
    <%= content_tag "div", class: "map", id: "map-canvas-show" do %><% end %>
    <%= content_tag "div", id: "map-data", data: { map_center: @map_center } do %><% end %>
  </div>
</div>










<br />
<div>
  <%= button_to("Write a Review For This Center", new_center_review_path(@center), method: :get, class: "btn_custom") %>
</div>
<div>
  <%= render partial: "reviews/reviews_display", locals: { item: @center } %>
</div>

