  <div class="row">
    <div class="span2">
      <%= handle_image(image) %>
    </div>
    <div class="span7">
          <div>
            <span class="subtitle_large"><%= link_to(name, item) %></span>
              <%= generate_stars(item_with_reviews.try(:reviews).average("rating").try(:round_point5)) %>
              <span class="subtitle_large_gray"><%= "(#{pluralize(item_with_reviews.try(:reviews_count), "review")})" %></span>
          </div>
      <% if params[:controller] == "users" && user_type(item) == "Teacher"  %>
          <p class="specialties"><%= item.profile.try(:specialties)  %></p>
      <% end %>
      <p><%= truncate_text(description, 300, item) %></p>
    </div>
    <div class="span9 bottom_border_div"></div>
  </div>

