<div class="<%= row_class %>">
      <%= handle_image(image) %>
      <span class="subtitle_large"><%= link_to(name, item) %></span>
      <%= average_stars(item_with_reviews) %>
      <span class="subtitle_large_gray">(<%= review_count(item_with_reviews) %>)</span>
      <p><%= truncate_text(description, 300, item) %></p>
</div>
