  <div class="row">
    <% filter_approved(@items).each do |item| %>
    <div class="span6">
      <div class="margin_bottom_small subtitle_small">
        <%= link_to(item.title, item) %>
        <span class="left_margin"><%= render partial: "shared/date_line", locals: { item: item } %></span>
      </div>
      <div>
        <% item.categories.each do |category| %>
          <span class="gray_badge right_margin_small"><%= category.name %></span>
        <% end %>
        <div class="margin_bottom_small"></div>
      </div>
    </div>
    <div class="span3">
      <div class="row stat_div">
          <div class="avv_div subtitle_large_color border_right">
            <%= item.views_count %><br />
            <span class="info"><%= simple_pluralize(item.views_count, "View") %></span>
          </div>
          <div class="avv_div subtitle_large_color border_right">
            <%= item.votes_count %><br />
            <span class="info"><%= simple_pluralize(item.votes_count, "Vote") %></span>
          </div>
          <div class="avv_div subtitle_large_color">
            <% if item.class == "Resource".constantize %>
              <%=  item.downloads_count %><br />
              <span class="info"><%= simple_pluralize(item.downloads_count, "Download") %></span>
            <% elsif item.class == "ForumPost".constantize %>
              <%=  item.answers_count %><br />
              <span class="info"><%= simple_pluralize(item.answers_count, "Answer") %></span>
            <% elsif item.class == "Article".constantize %>
              <%=  item.comments_count %><br />
              <span class="info"><%= simple_pluralize(item.comments_count, "Comment") %></span>
            <% end %>
          </div>

      </div><!--row-->
    </div>
    <div class="span9 bottom_border_div"></div>
    <% end %>
  </div>
