  <div class="row">
    <div class="span2">
      <%= handle_image(image) %>
    </div>
    <div class="span7">
          <div>
              <span class="subtitle_large"><%= link_to(name, item) %></span>
              <%= average_stars(item_with_reviews) %>
              <span class="subtitle_large_gray">(<%= review_count(item_with_reviews) %>)</span>
          </div>
      <p><%= truncate_text(description, 300, item) %></p>
    </div>
    <div class="span9 bottom_border_div"></div>
  </div>

