  <div class="row">
    <% @items.each do |item| %>
    <div class="span6">
      <div class="margin_bottom_small"><%= link_to(item.title, item) %></div>
      <div>
        <% item.categories.each do |category| %>
          <span class="gray_badge right_margin_small"><%= category.name %></span>
        <% end %>
        <div class="margin_bottom_small"></div>
      </div>
    </div>
    <div class="span3">
      <div class="row">
        <div class="avv_div subtitle_large_color">
          <%= item.views_count %><br />
          <span class="info">Views</span>
        </div>
        <div class="avv_div subtitle_large_color">
          <%= item.votes_count %><br />
          <span class="info">Votes</span>
        </div>
        <div class="avv_div subtitle_large_color">
          <% if item.class == "Resource".constantize %>
            <%=  item.downloads_count %><br />
            <span class="info">Downloads</span>
          <% else %>
            <%=  item.answers.count %><br />
            <span class="info">Answers</span>
          <% end %>
        </div>
      </div>
    </div>
    <div class="span9 bottom_border_div"></div>
    <% end %>
  </div>
