<!--for any nested item like comments or reviews  -->

  <div>
    <span class="info">Posted by <%= item.try(:user).try(:email) %></span><br />
    <%= item.content %>
  </div>
  <span class="info"><%= "#{distance_of_time_in_words(item.created_at, Time.now.in_time_zone)} ago" %></span>

  <div class="info">
    <% if (user_signed_in?) && (current_user == item.user) %>
                <span><%= link_to("Delete", send("#{parent.class.name.underscore}_#{item.class.name.underscore}_path", parent, item),
                                  data: {confirm: "Are you sure?"}, method: :delete, id: "delete_answer#{item.id}") %>
                </span>
                <span><%= link_to("Edit", send("edit_#{parent.class.name.underscore}_#{item.class.name.underscore}_path", parent, item),
                                  id: "edit_answer#{item.id}") %>
                </span>
    <% end %>
  </div>
