<% provide(:title, "Create a #{get_user_type(params[:controller]).capitalize} Account") %>

<% other_user_type = get_other_user_type(params[:controller]) %>

    <div class="alert custom_alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Note: </strong>Are you an Arabic <%= other_user_type %>? Create a <%= link_to("#{other_user_type} account", controller: "#{other_user_type}_profiles", action: :new) %> instead.
    </div>

<%= form_for(@profile) do |f| %>
  <%= f.fields_for :user do |user_form| %>
    <div class="field"><%= user_form.label :first_name, "First Name*" %>
    <%= user_form.text_field :first_name %></div>
    <div class="field"><%= user_form.label :last_name, "Last Name*" %>
    <%= user_form.text_field :last_name %></div>
    <div class="field"><%= user_form.label :email, "Email*" %>
    <%= user_form.email_field :email %></div>
    <div class="field"><%= user_form.label :skype_id, "Skype ID" %>
    <%= user_form.text_field :skype_id %></div>
    <div class="field"><%= user_form.label :country_id, "Country*" %>
    <%= user_form.select :country_id, Country.all.collect { |c| [c.name, c.id] } %></div>

    <% if params[:action] == "new" %>
      <div class="field"><%= user_form.label :password, "Password*" %>
      <%= user_form.password_field :password %></div>
      <div class="field"><%= user_form.label :password_confirmation, "Password Confirmation*" %>
      <%= user_form.password_field :password_confirmation %></div>
    <% end %>

    <% if params[:controller] == "student_profiles" %>
      <div class="field">
        <%= f.label "Level*" %>
        <%= f.select :level_id, Level.all.collect { |l| [l.title, l.id] } %>
      </div>
    <% end %>

    <% if params[:controller] == "teacher_profiles" %>
      <div class="field">
        <%= f.label :field_of_study, "Field of Study*" %>
        <%= f.text_field :field_of_study %>
      </div>
      <div class="field">
        <%= f.label :university %>
        <%= f.text_field :university%>
      </div>
      <div class="field">
        <%= f.label :years_of_experience, "Years of Experience*" %>
        <%= f.text_field :years_of_experience %>
      </div>
      <div class="field">
        <%= f.label :specialties, "Specialties*" %>
        <%= f.text_field :specialties %>
      </div>
      <div class="field">
        <%= f.label :price_per_hour, "Price Per Hour*" %>
        <%= f.text_field :price_per_hour %>
      </div>
      <div class="field">
        Do you offer online classes?*
        <div class="form-inline">
          <%= f.label "Yes" %>
          <%= f.radio_button :online, true %>
          <%= f.label "No" %>
          <%= f.radio_button :online, false %>
        </div><br />
      </div>
      <div class="field">
        Do you offer in person classes?*
        <div class="form-inline">
          <%= f.label "Yes" %>
          <%= f.radio_button :in_person, true %>
          <%= f.label "No" %>
          <%= f.radio_button :in_person, false %>
        </div><br />
      </div>
    <% end %>

    <div class="field"><%= user_form.label "Enter a brief description about yourself*" %>
    <%= user_form.text_area :bio %></div>
    <%= user_form.fields_for :image, :html => { :multipart => true } do |image_form| %>
      <%= image_form.label "Profile Picture" %>
      <%= image_form.file_field :photo %>
    <% end %>
  <% end %>

    <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>

<!--commentss-->
