<% provide(:title, "Create a #{get_user_type(params[:controller]).capitalize} Account") %>
  <% if @profile.errors.any? %>
    <div class="error_alert">
      Your submission could not be accepted. Please correct the following errors:
      <div class="bold">
        <% @profile.errors.full_messages.each do |msg| %>
          <i class="icon-warning-sign"></i> <%= msg %><br />
        <% end %>
      </div>
    </div>
  <% end %>

<% other_user_type = get_other_user_type(params[:controller]) %>

    <div class="alert custom_alert">
    <strong>Note: </strong>Are you an Arabic <%= other_user_type %>? Create a <%= link_to("#{other_user_type} account", controller: "#{other_user_type}_profiles", action: :new) %> instead.
    </div>

<%= form_for(@profile) do |f| %>
  <%= f.fields_for :user do |user_form| %>
    <div class="field"><%= user_form.label :first_name, "First Name*" %>
    <%= user_form.text_field :first_name %></div>
    <div class="field"><%= user_form.label :last_name, "Last Name*" %>
    <%= user_form.text_field :last_name %></div>
    <div class="field"><%= user_form.label :email, "Email*" %>
    <%= user_form.text_field :email %></div>
    <div class="field"><%= user_form.label :skype_id, "Skype ID" %>
    <%= user_form.text_field :skype_id %></div>
    <div class="field"><%= user_form.label :country_id, "Country*" %>
    <%= user_form.select :country_id, Country.all.collect { |c| [c.name, c.id] }, { :include_blank => true } %></div>

    <% if params[:action] == "new" || params[:action] == "create" %>
      <div class="field"><%= user_form.label :password, "Password*" %>
      <%= user_form.password_field :password %></div>
      <div class="field"><%= user_form.label :password_confirmation, "Password Confirmation*" %>
      <%= user_form.password_field :password_confirmation %></div>
    <% end %>

    <% if params[:controller] == "student_profiles" %>
      <div class="field">
        <%= f.label :level_id, "Level*" %>
        <%= f.select :level_id, Level.all.collect { |l| [l.title, l.id] }, { :include_blank => true }  %>
      </div>
    <% end %>

    <% if params[:controller] == "teacher_profiles" %>
      <div class="field">
        <%= f.label :age, "Age*" %>
        <%= f.text_field :age %>
      </div>
      <div class="field">
        <%= f.label :gender, "Gender*" %>
        <%= f.select :gender, { "Male" => "m", "Female" => "f" }, { :include_blank => true }, { class: "small_input_select" } %>
      </div>
      <div class="field">
        <%= f.label :field_of_study, "Field of Study*" %>
        <%= f.text_field :field_of_study %>
      </div>
      <div class="field">
        <%= f.label :degree, "Degree" %>
        <%= f.text_field :degree %>
      </div>
      <div class="field">
        <%= f.label :university %>
        <%= f.text_field :university%>
      </div>
      <div class="field">
        <%= f.label :other_education, "Other Education Or Training" %>
        <%= f.text_area :other_education %>
      </div>
      <div class="field">
        <%= f.label :years_of_experience, "Years of Experience*" %>
        <%= f.text_field :years_of_experience %>
      </div>
      <div class="field">
        <%= f.label :specialties, "Specialties*" %>
        <%= f.text_field :specialties %>
      </div>
      <div class="field">
        <%= f.label :price_per_hour, "Price Per Hour (in U.S. dollars)* " %>
        $<%= f.text_field :price_per_hour, class: "small_input" %>
      </div>
      <div class="field">
        <%= f.label :online, "Do you offer online classes?*" %>
        <div class="form-inline">
          <%= f.label "Yes", class: "middle" %>
          <%= f.radio_button :online, true %>
          <%= f.label "No", class: "middle left_margin" %>
          <%= f.radio_button :online, false %>
        </div><br />
      </div>
      <div class="field">
        <%= f.label :in_person, "Do you offer in person classes?*" %>
        <div class="form-inline">
          <%= f.label "Yes", class: "middle" %>
          <%= f.radio_button :in_person, true %>
          <%= f.label "No", class: "middle left_margin" %>
          <%= f.radio_button :in_person, false %>
        </div><br />
      </div>
    <% end %>

    <div class="field">
    <%= user_form.label :bio, "Brief description about yourself*" %></span>
    <%= user_form.text_area :bio %></div>
  <% end %>

    <div class="actions">
    <%= f.submit "Submit", class: "btn_custom" %>
  </div>
<% end %>

<!--commentss-->
