<% provide :title, "Sign In" %>
<div class="subtitle_large_color margin_bottom">Sign In</div>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email %>
  <%= f.email_field :email %></div>

  <div><%= f.label :password %>
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><label class="checkbox">
            <%= f.check_box :remember_me, class: "middle" %> <span class="bold middle">Remember Me</span>
         </label></div>
  <% end -%>
  <br />

  <div><%= f.submit "Sign in", class: "btn_custom" %></div>
<% end %>

<%= render "devise/shared/links" %>
