<%= form_for(@resource, :html => { :multipart => true }) do |f| %>
    <% if @resource.errors.any? %>
    <div class="error_alert">
      Your submission could not be accepted. Please correct the following errors:
      <div class="bold">
        <% @resource.errors.full_messages.each do |msg| %>
          <i class="icon-warning-sign"></i> <%= msg %><br />
        <% end %>
      </div>
    </div>
  <% end %>

    <div class="field">
      <%= f.label :title %><%= mark_required(@resource, :title) %><br />
      <%= f.text_field :title %>
    </div>

    <div class="field margin_bottom_medium">
      <%= f.label :category_ids %><%= mark_required(@resource, :category_ids) %><br />
      <select id="resource_category_ids" name="resource[category_ids][]" data-placeholder="Categories"
              class="chzn-select" multiple tabindex="6"  multiple="multiple">
        <option value=""></option>
        <%= render :partial => 'forum_posts/chosen_categories', locals: {:category_name => "Arabic Language", :label => "" } %>
      </select>
    </div>

    <div class="field">
      <%= f.label :description %><%= mark_required(@resource, :description) %><br />
      <%= f.text_area :description %>
    </div>

    <div class="field">
      <%= f.label :level_id %><%= mark_required(@resource, :level_id) %><br />
      <%= f.select :level_id, Level.all.collect { |l| [l.title, l.id] }, { :include_blank => true }  %>
    </div>


      <%#= f.label :resource_file, "Upload Resource (PDF, MS Word, JPEG, and text files are acceptable)" %><br />
      <%#= f.file_field :resource_file %>

    <div class="actions">
      <%= f.submit("Next", class: "btn_custom") %>
    </div>
<% end %>
