<%= form_for(@resource, :html => { :multipart => true }) do |f| %>
    <% if @resource.errors.any? %>
    <div class="error_alert">
      Your submission could not be accepted. Please correct the following errors:
      <div class="bold">
        <% @resource.errors.full_messages.each do |msg| %>
          <i class="icon-warning-sign"></i> <%= msg %><br />
        <% end %>
      </div>
    </div>
  <% end %>

    <div class="field">
      <%= f.label :title  %>
      <%= f.text_field :title %>
    </div>

    <div class="field margin_bottom_medium">
      <%= f.label :category_ids, "Category" %>
      <select id="resource_category_ids" name="resource[category_ids][]" data-placeholder="Categories"
              class="chzn-select" multiple tabindex="6"  multiple="multiple">
        <option value=""></option>
        <%= render :partial => 'forum_posts/chosen_categories', locals: {:category_name => "Arabic Language", :label => "" } %>
      </select>
    </div>

    <div class="field">
      <%= f.label :description  %>
      <%= f.text_area :description %>
    </div>

    <div class="field">
      <%= f.label :resource_file, "Upload Resource (PDF, MS Word, JPEG, and text files are acceptable)" %>
      <%= f.file_field :resource_file %>
    </div>

    <br />

    <div class="actions">
      <%= f.submit("Submit", class: "btn_custom") %>
    </div>
<% end %>
