<% provide :title, "Upload Resource" %>
<%= render partial: "shared/page_title", locals: { title: "Upload Resource" } %>

<div id="ajax_spinner_file_upload">Please wait. Uploading your file...<%= image_tag("/images/ajax-loader.gif") %></div>

<%= direct_upload_form_for @uploader do |f| %>
  <div class="margin_bottom">
    
    <span class="gray_badge middle">Note:</span> <span class="center">PDF, MS Word, JPEG, and text files are acceptable. Maximum file size is 100 mb.</span><br />
    <%= f.file_field :resource_file %>
    
  </div>
  <%= f.submit "Upload Resource", class: "btn_custom", id: "resource_file_submit" %>
<% end %>
