<% provide :title, @resource.title %>

<div class="row">
  <%= render partial: "shared/vote_arrows", locals: { item: @resource } %>
 <div class="span8_custom">
    <div class="margin_bottom">
      <%= render partial: "shared/voteable_item_title", locals: { item: @resource, vote_span_class: "vote_count", action: "Posted by" }  %>
      <%= render partial: "shared/delete_edit_links", locals: { item: @resource } %>
    </div>

    <div class="row">
    <div class="span3 preview_div">
      <% if @resource.resource_file.content_type == "application/msword" || @resource.resource_file.content_type == "text/plain" %>
          <div id="resource_thumbnail">
            <div style="height: 250px; background-color: #d4d4d4;"></div>
          </div>
      <% else %>
          <div id="resource_thumbnail">
            <%= link_to(image_tag(@resource.resource_file.url(:thumb)), @resource.resource_file.url(:medium)) %>
          </div>
      <% end %><br />
      <%= button_to("Review This Resource", new_resource_review_path(@resource), class: "btn_custom", method: :get) %>
    </div>

    <div class="span5">
      <p>
        <span class="bold caps">Description</span><br />
        <%= @resource.description %>
      </p>
        <%= link_to "<i class='icon-download icon-large'></i>".html_safe, "/resources/#{@resource.id}/download", class: "no_underline_color" %>
        <%= link_to "Download Resource", "/resources/#{@resource.id}/download", class: "bold" %>
    </div>

    </div>

    <br />
    <div class="row">
    </div> 

    <div class="subtitle_large margin_bottom">Reviews</div>
    <%= render partial: "reviews/reviews_display", locals: { item: @resource } %>
  </div>
</div>

<% content_for(:side_bar) do %>
    <%= render partial: "categories/side_bar_categories", locals: { item: @resource } %> 
    <!--<div class="subtitle_large margin_bottom">Posted By</div>-->

    <div>
      <div class="subtitle_large margin_bottom_small">Resource Statistics</div>
      <table>
        <tr>
          <td><span class="subtitle_large_gray padded_cell">Average Rating</span></td>
          <td><span class="rating_font">
              <%= average_stars(@resource) %>
              <%= "(#{@resource.reviews_count})" %>
              </span>
          </td>
        </tr>

        <tr>
          <td><span class="subtitle_large_gray padded_cell">Views</span></td>
          <td><span class="stats"><%= @resource.views_count %></span></td>
        </tr>
        <tr>
          <td><span class="subtitle_large_gray padded_cell">Votes</span></td>
          <td><span class="stats"><%=  @resource.votes_count %></span></td>
        </tr>
        <tr>
          <td><span class="subtitle_large_gray padded_cell">Downloads</span></td>
          <td><span class="stats"><%=  @resource.downloads_count %></span></td>
        </tr>
      </table>
    </div>


<% end %>

<!--comments -->




