<% provide :title, @resource.title %>

<h3><%= @resource.title %></h3>

<div class="row">
  <div class="span3 preview_div">
    <% if @resource.resource_file.content_type == "application/msword" || @resource.resource_file.content_type == "text/plain" %>
        <div id="resource_thumbnail">
          <div style="height: 250px; background-color: #d4d4d4;"></div>
        </div>
    <% else %>
        <div id="resource_thumbnail">
          <%= link_to(image_tag(@resource.resource_file.url(:thumb)), @resource.resource_file.url(:medium)) %>
        </div>
        <div class="centered"><%= link_to("Preview", @resource.resource_file.url(:medium)) %></div>
    <% end %>
  </div>

  <div class="span6">
    <p>
      <span class="subtitle_large">Description</span><br />
      <%= @resource.description %>
    </p>
    <div class="download_link"><%= link_to "<i class='icon-download'></i>".html_safe, @resource.resource_file.url %> <%= link_to "Download Resource", @resource.resource_file.url %></div>
  </div>
</div>

<% content_for(:side_bar) do %>
    <ul>
      <li>Category</li>
      <li>Posted by</li>
      <li>Views</li>
      <li>Votes</li>
      <li>Downloads</li>
    </ul>
<% end %>






