<optgroup label="<%= label %>">
  <!--user category_name -->
  <option value=<%= Category.find_by_name(category_name).try(:id) %>><%= "#{label} - General" %></option>

  <%= get_categories(category_name).try(:each) do |alc| %>
      <option value=<%= alc.id %>><%= alc.name %></option>
  <% end %>
</optgroup>
