<%= form_for(@forum_post) do |f| %>
  <% if @forum_post.errors.any? %>
    <div class="error_alert">
      Your submission could not be accepted. Please correct the following errors:
      <div class="bold">
        <% @forum_post.errors.full_messages.each do |msg| %>
          <i class="icon-warning-sign"></i> <%= msg %><br />
        <% end %>
      </div>
    </div>
  <% end %>


    <div class="field">
      <%= f.label :title  %>
      <%= f.text_field :title %>
    </div>

    <div class="field">
      <%= f.label :category_ids, "Category" %>
      <div class="field_with_errors">
      <select id="forum_post_category_ids" name="forum_post[category_ids][]" data-placeholder="Categories"
              class="chzn-select" multiple tabindex="6"  multiple="multiple">
        <option value=""></option>
      </div>
        <%= render :partial => 'chosen_categories', locals: {:category_name => "Arabic Language", :label => "Arabic Language" } %>
        <%= render :partial => 'chosen_categories', locals: {:category_name => "Study Abroad" , :label => "Study Abroad (general)" } %>
        <%= render :partial => 'chosen_categories', locals: {:category_name => "Countries" , :label => "Study Abroad (country specific)" } %>
      </select>
    </div>

    <div class="field">
      <%= f.label :content, "Details"  %>
      <%= f.text_area :content %>
    </div>

    <div class="actions">
      <%= f.submit(submit_text, class: "btn_custom") %>
    </div>
<% end %>
