<%= form_for(@forum_post) do |f| %>
  <% if @forum_post.errors.any? %>
    <div class="error_alert">
      Your submission could not be accepted. Please correct the following errors:
      <div class="bold">
        <% @forum_post.errors.full_messages.each do |msg| %>
          <i class="icon-warning-sign"></i> <%= msg %><br />
        <% end %>
      </div>
    </div>
  <% end %>


    <div class="field">
      <%= f.label :title %><%= mark_required(@forum_post, :title) %><br />
      <%= f.text_field :title %>
    </div>

    <div class="field margin_bottom_medium">
      <%= f.label :category_ids %><%= mark_required(@forum_post, :category_ids) %><br />
      <select id="forum_post_category_ids" name="forum_post[category_ids][]" data-placeholder="Categories"
              class="chzn-select" multiple tabindex="6"  multiple="multiple">
        <option value=""></option>
        <%= render :partial => 'chosen_categories', locals: {:category_name => "Arabic Language", :label => "Arabic Language" } %>
        <%= render :partial => 'chosen_categories', locals: {:category_name => "Study Abroad" , :label => "Study Abroad" } %>
        <%= render :partial => 'chosen_categories', locals: {:category_name => "Countries" , :label => "Countries" } %>
      </select>
    </div>

    <div class="field margin_bottom_medium">
      <%= f.label :content %><%= mark_required(@forum_post, :content) %><br />
      <%= f.cktext_area :content %>
    </div>

    <div class="actions">
      <%= f.submit(submit_text, class: "btn_custom") %>
    </div>
<% end %>
