<% provide :title, "Post a Question" %>

<%= form_for(@forum_post) do |f| %>
    <% if @forum_post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@form_post.errors.count, "error") %> prohibited this post from being saved:</h2>

          <ul>
            <% @form_post.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
        <%= f.label :title  %>
        <%= f.text_field :title %>
    </div>

    <%= f.select :category_ids, Category.all.collect {|x|[x.name, x.id]},{},:multiple =>true %>

    <div class="field">
      <%= f.label "Question"  %>
      <%= f.text_area :content %>
    </div>

    <div class="actions">
      <%= f.submit("Submit") %>
    </div>
<% end %>


