<%=  current_user.email %>

<% provide :title, @forum_post.title %>

<div class="row">
  <div class="span1">
   <div class="arrows">

      <i class="icon-caret-up vote" data-type="up" data-post_id=<%= @forum_post.id %>></i>
      <i class="icon-caret-down vote" data-type="down" data-post_id=<%= @forum_post.id %>></i>

   </div>
  </div>

  <div class="span8">
    <h3><%= @forum_post.title %>

    </h3>

    <div class="post_content">
      <div class="votes">10 Votes</div>
      <span class="subtitles">Posted on <%= @forum_post.created_at.strftime("%b %d, %Y") %> by Shazeb Qadir</span><br />
      <%=  @forum_post.content %>
    </div>
  </div>

</div>


<% content_for :side_bar do %>
    Post Stats:<br />
    123 views<br />
    23 up votes<br /><br />
<% end %>

