<% provide :title, @forum_post.title %>

<%=  vote_forum_post_path %>

<div class="row">
  <div class="span1">
   <div class="arrows">
      <i class="icon-caret-up vote" id="up_vote" data-type="up" data-post_id=<%= @forum_post.id %>></i>
      <i class="icon-caret-down vote" id="down_vote" data-type="down" data-post_id=<%= @forum_post.id %>></i>
   </div>
  </div>


  <div class="span8">
    <h3>
      <%= @forum_post.title %><span class="vote_count"><%= "+#{@forum_post.votes.count}" %></span>
    </h3>

    <div class="post_content">
      <span class="subtitle">Posted on <%= @forum_post.created_at.strftime("%b %d, %Y") %> by Shazeb Qadir</span>

      <div class="post">
        <%=  @forum_post.content %>
      </div>
    </div>

    <h6><%= "#{@forum_post.answers.count} answers:"  %></h6>

    <% @forum_post.answers.each do |answer| %>
        <div class="row well well-small no_left_margin">
          <div class="span1">
            <i class="icon-caret-up vote_small" data-type="up" data-post_id=<%= @forum_post.id %>></i>
            <i class="icon-caret-down vote_small" data-type="down" data-post_id=<%= @forum_post.id %>></i>
          </div>
          <div class="span7">
            <span class="info"><%= "#{answer.user.email} said:" %></span>
            <span class="vote_count_small">+13</span>
            <div><%= answer.content %></div>
            <span class="info"><%= "#{distance_of_time_in_words(answer.created_at, Time.now.in_time_zone)} ago" %></span>
          </div>

        </div>
    <% end %>

  </div>



</div>


<% content_for :side_bar do %>
  <div>
    Post Stats:<br />
    123 views<br />
    23 up votes<br /><br />
  </div>
<% end %>

