<% provide :title, @forum_post.title %>

<div class="row">
  <%= render partial: "shared/vote_arrows", locals: { item: @forum_post } %>

  <div class="span8">
    <div class="subtitle_large1">
      <%= @forum_post.title %><%= render partial: "shared/vote_count", locals: { item: @forum_post } %>
    </div>
    <br />
    <div class="post_content bottom_border_div">
      <%= render partial: "shared/delete_edit_links", locals: { item: @forum_post } %>
      <div class="post">
        <%=  @forum_post.content %>
      </div>
    </div>

    <br />
    <div class="subtitle_large">Answer this question:</div>
    <% if user_signed_in? %>
      <%= render "answers/form" %>
    <% else %>
    <div class="custom_alert">
      <div class="row">
        <div class="span3">
          <strong>Already have an account?</strong>
        </div>
        <div class="span2">
          <%= button_to("Sign In", new_user_session_path, class: "btn") %>
        </div>
      </div>

      <div class="row">
        <div class="span3">
          <strong>Don't have an account yet?</strong>
        </div>
        <div class="span2">
          <%= button_to("Register", new_student_profile_path, method: "get", class: "btn") %>
        </div>
      </div>
    </div>
    <% end %>


    <div class="subtitle_large"><%= pluralize(@forum_post.answers.count, "answer") %></div>

    <% @forum_post.answers.by_votes.each do |answer| %>
        <div class="row well well-small no_left_margin">
          <div class="vote_arrow_div">
            <i class="icon-caret-up vote vote_small" data-voteable_type="Answer" data-type="up" data-post_id=<%= @forum_post.id %>
                    data-answer_id=<%= answer.id %>></i>
            <i class="icon-caret-down vote vote_small" data-voteable_type="Answer" data-type="down" data-post_id=<%= @forum_post.id %>
                    data-answer_id=<%= answer.id %>></i>
          </div>

          <div class="span7">
            <span class="vote_count_small"><%= "+#{answer.votes.count}" %></span>
            <%= render partial: "shared/nested_item_view", locals: { item: answer, parent: @forum_post } %>
          </div>

        </div>
    <% end %>
  </div>
</div>

<% content_for :side_bar do %>
  <div>
    Post Stats:<br />
    123 views<br />
    23 up votes<br /><br />
  </div>
<% end %>

<!--comments-->
