<% provide :title, @forum_post.title %>

<h3><%= @forum_post.title %>
    <%=  image_tag("icons/glyphicons_190_circle_plus.png", class: "vote_icon") %>
    <%=  image_tag("icons/glyphicons_191_circle_minus.png", class: "vote_icon") %>
</h3>

<div class="post_content">
  <span class="subtitles">Posted on <%= @forum_post.created_at.strftime("%b %d, %Y") %> by Shazeb Qadir</span><br />
  <%=  @forum_post.content %>
</div>

<% content_for :side_bar do %>
    Post Stats:<br />
    123 views<br />
    23 up votes<br /><br />
<% end %>

