<% provide :title, @forum_post.title %>
  <% if @answer_new.try(:errors).try(:any?) %>
    <div class="error_alert">
      Your submission could not be accepted. Please correct the following errors:
      <div class="bold">
        <% @answer_new.errors.full_messages.each do |msg| %>
          <i class="icon-warning-sign"></i> <%= msg %><br />
        <% end %>
      </div>
    </div>
  <% end %>

<div class="row">
  <%= render partial: "shared/vote_arrows", locals: { item: @forum_post } %>

  <div class="span8_custom">
    <%= render partial: "shared/voteable_item_title", locals: { item: @forum_post, vote_span_class: "vote_count", action: "Asked by" }  %>
    <%= render partial: "shared/delete_edit_links", locals: { item: @forum_post } %>
    <div class="post">
      <%=  @forum_post.content %>
    </div>

    <br />
    <div class="subtitle_large margin_bottom_small">Answer this question</div>
    <% if user_signed_in? %>
      <%= render "answers/form" %>
    <% else %>
      <%= render "shared/reg_or_sign_in" %> 
    <% end %>


    <div class="subtitle_large margin_bottom"><%= pluralize(@forum_post.answers.count, "answer") %></div>

    <% @forum_post.answers.by_votes.each do |answer| %>
        <div class="row no_left_margin custom_well">
          <div class="vote_arrow_div">
            <i class="icon-caret-up vote" data-voteable_type="Answer" data-type="up" data-post_id=<%= @forum_post.id %>
                    data-answer_id=<%= answer.id %>></i>
            <i class="icon-caret-down vote" data-voteable_type="Answer" data-type="down" data-post_id=<%= @forum_post.id %>
                    data-answer_id=<%= answer.id %>></i>
          </div>

          <div class="span7">
            <div class="margin_bottom">
              <%= render partial: "shared/voteable_item_title", locals: { item: answer, vote_span_class: "vote_count_answer", action: "Answered by" } %>
              <%= render partial: "shared/delete_edit_nested", locals: { item: answer, parent: @forum_post } %>
            </div>
            <%= modified_sf(answer.content) %>
          </div>

        </div>
    <% end %>
  </div>
</div>

<% content_for :side_bar do %>
    <%= render partial: "categories/side_bar_categories", locals: { item: @forum_post } %> 

    
    <div class="subtitle_large margin_bottom">Question Statistics</div>
    <table>
        <tr>
          <td><span class="subtitle_large_gray padded_cell">Views</span></td>
          <td><span class="stats"><%= @forum_post.views_count %></span></td>
        </tr>
        <tr>
          <td><span class="subtitle_large_gray padded_cell">Votes</span></td>
          <td><span class="stats"><%=  @forum_post.votes_count %></span></td>
        </tr>
        <tr>
          <td><span class="subtitle_large_gray padded_cell">Answers</span></td>
          <td><span class="stats"><%=  @forum_post.answers_count %></span></td>
        </tr>
    </table>

<% end %>

<!--comments-->
