<% provide :title, @forum_post.title %>
  <% if @answer_new.try(:errors).try(:any?) %>
    <div class="error_alert">
      Your submission could not be accepted. Please correct the following errors:
      <div class="bold">
        <% @answer_new.errors.full_messages.each do |msg| %>
          <i class="icon-warning-sign"></i> <%= msg %><br />
        <% end %>
      </div>
    </div>
  <% end %>

<div class="row">
  <%= render partial: "shared/vote_arrows", locals: { item: @forum_post } %>

  <div class="span8">
    <%= render partial: "shared/voteable_item_title", locals: { item: @forum_post }  %>
    <div class="post">
      <%=  @forum_post.content %>
    </div>

    <br />
    <div class="subtitle_large margin_bottom">Answer this question</div>
    <% if user_signed_in? %>
      <%= render "answers/form" %>
    <% else %>
    <div class="custom_alert">
      <div class="row">
        <div class="span3">
          <strong>Already have an account?</strong>
        </div>
        <div class="span2">
          <%= button_to("Sign In", new_user_session_path, class: "btn") %>
        </div>
      </div>

      <div class="row">
        <div class="span3">
          <strong>Don't have an account yet?</strong>
        </div>
        <div class="span2">
          <%= button_to("Register", new_student_profile_path, method: "get", class: "btn") %>
        </div>
      </div>
    </div>
    <% end %>


    <div class="subtitle_large margin_bottom"><%= pluralize(@forum_post.answers.count, "answer") %></div>

    <% @forum_post.answers.by_votes.each do |answer| %>
        <div class="row no_left_margin custom_well">
          <div class="vote_arrow_div">
            <i class="icon-caret-up vote" data-voteable_type="Answer" data-type="up" data-post_id=<%= @forum_post.id %>
                    data-answer_id=<%= answer.id %>></i>
            <i class="icon-caret-down vote" data-voteable_type="Answer" data-type="down" data-post_id=<%= @forum_post.id %>
                    data-answer_id=<%= answer.id %>></i>
          </div>

          <div class="span7">
            <span class="subtitle_large"><%= link_to(answer.user.first_name, answer.user) %> said:</span>
            <span class="vote_count"><%= "+#{answer.votes.count}" %></span>
            <br />
            <br />
            <%= render partial: "shared/nested_item_view", locals: { item: answer, parent: @forum_post } %>
          </div>

        </div>
    <% end %>
  </div>
</div>

<% content_for :side_bar do %>
  <div>
    Post Stats:<br />
    123 views<br />
    23 up votes<br /><br />
  </div>
<% end %>

<!--comments-->
