<% provide :title, @forum_post.title %>

<div class="row">
  <div class="span1">
   <div class="arrows">
    <div style="font-size: 30px; color: #5897fb"><i class="icon-caret-up vote_up" data-post_id=<%= @forum_post.id %>></i></div>
    <div style="font-size: 30px; color: #5897fb;"><i class="icon-caret-down vote_down" data-post_id=<%= @forum_post.id %>></i></div>
   </div>
  </div>

  <div class="span8">
    <h3><%= @forum_post.title %>

    </h3>

    <div class="post_content">
      <div class="votes">10 Votes</div>
      <span class="subtitles">Posted on <%= @forum_post.created_at.strftime("%b %d, %Y") %> by Shazeb Qadir</span><br />
      <%=  @forum_post.content %>
    </div>
  </div>

</div>


<% content_for :side_bar do %>
    Post Stats:<br />
    123 views<br />
    23 up votes<br /><br />
<% end %>

