<% provide :title, @forum_post.title %>

<div class="row">
  <div class="vote_arrow_div">
   <div class="arrows">
      <i class="icon-caret-up vote" id="up_vote" data-voteable_type="ForumPost" data-type="up" data-post_id=<%= @forum_post.id %>></i>
      <i class="icon-caret-down vote" id="down_vote" data-voteable_type="ForumPost" data-type="down" data-post_id=<%= @forum_post.id %>></i>
   </div>
  </div>


  <div class="span8">
    <h3>
      <%= @forum_post.title %><span class="vote_count"><%= "+#{@forum_post.votes.count}" %></span>
    </h3>

    <div class="post_content">
      <%= render partial: "shared/delete_edit_links", locals: { item: @forum_post } %>
      <div class="post">
        <%=  @forum_post.content %>
      </div>
    </div>


    <h4>Answer this question:</h4>
    <%= render "answers/form" %>


    <h6><%= "#{@forum_post.answers.count} answers:"  %></h6>

    <% @forum_post.answers.by_votes.each do |answer| %>
        <div class="row well well-small no_left_margin">
          <div class="vote_arrow_div">
            <i class="icon-caret-up vote vote_small" data-voteable_type="Answer" data-type="up" data-post_id=<%= @forum_post.id %>
                    data-answer_id=<%= answer.id %>></i>
            <i class="icon-caret-down vote vote_small" data-voteable_type="Answer" data-type="down" data-post_id=<%= @forum_post.id %>
                    data-answer_id=<%= answer.id %>></i>
          </div>

          <%= render partial: "shared/nested_item_view", locals: { item: answer, parent: @forum_post } %>

        </div>
    <% end %>
  </div>
</div>

<% content_for :side_bar do %>
  <div>
    Post Stats:<br />
    123 views<br />
    23 up votes<br /><br />
  </div>
<% end %>

<!--comme-->
