<% if @review.errors.any? %>
    <div class="error_alert">
      Your submission could not be accepted. Please correct the following errors:
      <div class="bold">
        <% @review.errors.full_messages.each do |msg| %>
          <i class="icon-warning-sign"></i> <%= msg %><br />
        <% end %>
      </div>
    </div>
<% end %>

<%= form_for([@reviewable, @review]) do |f| %>
    <div class="field">
      <%= f.label :title  %><%= mark_required(@review, :title) %><br />
      <%= f.text_field :title %>
    </div>

    <div class="field">
      <%= f.label :content  %><%= mark_required(@review, :content) %><br />
      <%= f.text_area :content %>
    </div>

    <div class="field">
      <%= f.label :rating  %><%= mark_required(@review, :rating) %><br />
      <div class="form_rating"><%= get_star_string(5) %></div>
    </div>

    <!--this is for the rating-->
    <%= hidden_field_tag "review[rating]", "" %>

    <br />
    <div class="actions">
      <%= f.submit("Submit", class: "btn_custom") %>
    </div>
<% end %>

<!--comments-->



