<div class="subtitle_large margin_bottom"><%= pluralize(item.reviews.size, "review") %></div>
<div>
  <% item.reviews.each do |review| %>
    <div class="custom_well">
      <div class="margin_bottom_small">
        <span class="rating_container rating_font"><%= generate_stars(review.rating).html_safe %></span>
        <span class="subtitle_large"><%= review.title %></span>
      </div>

      <div class="margin_bottom_small"><%= modified_sf(review.content) %></div>
      <%= render partial: "users/user_line", locals: { user: review.user, action: "Posted by" } %>  
      <%= render partial: "shared/delete_edit_nested", locals: { item: review, parent: item } %>  

    </div>
  <% end %>
</div>
