<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Tauri' rel='stylesheet' type='text/css'>

</head>
<body>

<div id="header">
  <div class="container">
    <div class="row margin_top">
      <div class="span12">
        <span class="site_title">StudyArabic.com</span>
      </div>
    </div>
  </div>
</div>

<div id="nav_bar">

</div>




<div class="container" id="page_area">
  <div class ="row">
    <div class="span12">
     <div class="row">
        <div class="span9" id="main_content">
          <% if flash[:notice] %>
            <div class="custom_alert"><%= flash[:notice] %></div>
          <% end %>
          <% if flash[:alert] %>
            <div class="error_alert"><%= flash[:alert] %></div>
          <% end %>
          
          <%= yield %>
          <%= debug(params) if Rails.env.development? %> 
        </div>
        <div class="span3 sidebar">
            <% if user_signed_in? %>
              <ul class="nav nav-tabs">
                <li class="dropdown">
                <a class="dropdown-toggle disabled" data-toggle="dropdown" href="#"><%= current_user.username %>
                    <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li><%= link_to("Profile", user_path(current_user)) %></li>
                    <li><%= link_to("Messages", user_messages_path(current_user)) %></li>
                    <li><%= link_to("Sign Out", destroy_user_session_path, :method => :delete) %></li>
                  </ul>
                </li>
              </ul>
            <% else %>
              <%= render "shared/sign_in_or_reg_pill" %> 
              </div>
            <% end %>
            <%= yield :side_bar %>
            <br />
            Some ads here. Other information, etc
        </div>
      </div>
    </div>
  </div>

</div>
</body>
</html>





