<!DOCTYPE html>
<html>
<head>
  <%= render partial: "layouts/asset_tag_helper" %>
</head>
<body>

<%= render partial: "layouts/header" %> 

<div class="container" id="page_area">
  <div class ="row">
    <div class="span12">
     <div class="row">
        <div class="span9" id="main_content">
          <% if flash[:notice] %>
            <div class="custom_alert"><%= flash[:notice] %></div>
          <% end %>
          <% if flash[:alert] %>
            <div class="error_alert"><%= flash[:alert] %></div>
          <% end %>
          
          <%= yield %>
          <%= debug(params) if Rails.env.development? %> 
        </div>
        <div class="span3 sidebar">
          
          <%= yield :side_bar %>
          <%#= render partial: "ads/amazon_carousel" %>
          <%= render partial: "ads/adsense1" %>         
        </div>
      </div>
    </div>
  </div>
</div>

<% if Rails.env.production? %>
  <%= render "layouts/ga_script" %> 
<% end %>

</body>
</html>





