<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>

<div class="container" id="header"><!--div for logo and navigation-->
    <div class="row">

      <div class="span12 logo_container">
        <div class="row">
          <div class="span9">
            <h2 class="white_font">StudyArabic.com</h2>
          </div>
          <div class="span3">
            <% if user_signed_in? %>
                 You are signed in as <%= current_user.email %> | <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
            <% else %>
                <%= link_to "Sign Up", new_user_registration_path %> or <%= link_to "Sign In", new_user_session_path %>
            <% end %>
          </div>
        </div>
        
          <ul class="nav nav-tabs">
          <li>
          <a href="#">Home</a>
          </li>
          <li><%= link_to("Centers/Programs", centers_path) %></li>
          <li><%= link_to("Teachers", teacher_profiles_path) %></a></li>
          </ul>

          
          <%#= render(partial: "shared/dropdown", locals: { title: "Study Abroad",
                                                           links: { "Egypt" => "http://www.egypt.com",
                                                                    "Jordan" => "www.jordan.com"}  }) %>

          <%#= render(partial: "shared/dropdown", locals: { title: "Books",
                                                           links: { "Reviews" => "http://www.egypt.com",
                                                                    "Ratings" => "www.jordan.com"}  }) %>

      </div>


    </div>
</div><!--div for logo and navigation-->

<div class="container" id="main_content">

  <div class ="row">
    



    <div class="span12">
     <div class="row">
        <div class="span9 main_content">
          <p id="notice"><%= notice %></p>
          <p id="notice"><%= alert %></p>
          <%= yield %>
          <%= debug(params) if Rails.env.development? %> 
        </div>
        <div class="span3 sidebar">
            <%= yield :side_bar %>
            <br />
            Some ads here. Other information, etc
        </div>
      </div>
    </div>
  </div>

</div>
</body>
</html>
